{% load static %}
{% load i18n %}

<html>
    <head>
        <title>{% trans 'Hello World' %}</title>
    </head>
    <body>
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="{% trans 'Change Language' %}" />
        </form>

        <app_name></app_name>

        <script src="{% static 'app_name.tag' %}" type="riot/tag"></script>
        <script src="{% static 'riot/riot+compiler.min.js' %}"></script>
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

        <script>
            riot.mount('app_name')
        </script>
    </body>
</html>
